@font-face { font-family: Calfine; src: url('fonts/Calfinedemo.otf'); } 
@font-face { font-family: Nighty; src: url('fonts/Nightydemo.otf'); } 
@font-face { font-family: Newake; src: url('fonts/Newake-Font-Demo.otf'); } 
* {
  box-sizing: border-box;
  font-family: Newake, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
body {
  font-size: 50px;
  margin: 0;
}

.content1 {

  width: 100%;
  height: 100vh;
  display: flex;
  color: #9DE1DD;
  justify-content: center;
  align-items: center;
  font-size: 300px;
  margin: 0;
}

.yeah{
  text-shadow: -10px 10px 0px white;
  font-family: Nighty, sans-serif;
  font-size: 30vw;
}

.choir-image,svg{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-left: 12vw;
}

.yeahgoaway {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 60px;
  font-family: Newake, sans-serif;
  margin: -70% 10% 0 10% ;

}
.goaway {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-family: Newake, sans-serif;
  margin-top: 20px;
  transform: rotate(-90deg) translateX(-10%);

}

.wejustwanna {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: Newake, sans-serif;
  margin-top: 200px;

}

.party {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 ;
}

.party,span{
  font-size: 36vw;
  font-family: nighty, sans-serif;
  text-shadow: -10px 20px 0px black;

}

.content3 {
  margin: 600px 100px 0 100px ;
}

.iknow {
  font-family: Newake, sans-serif;

}

.you {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 950px;
  font-family: Newake, sans-serif;
  margin-top: -60px;

}
.wannaparty {
  position: absolute;
  float: none;
  font-family: Newake, sans-serif;
  margin-top: -600px;
  margin-left: 1300px;
  transform: rotate(-90deg);

}

.YEAH {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 950px;
  font-family: Newake, sans-serif;
  margin-top: -1200px;
  text-align: center;
  line-height: 0.8;
  color: #FFF59C;
}
.partyjustfor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Newake, sans-serif;
  margin-top: 0px;
}

.free {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-family: Newake, sans-serif;
  margin-top: 60px;
}

.girlyougotme{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dancing{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content5{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}
.dancecontainer{
  width: 1200px;
  height: 700px;
  /* background-color: aquamarine; */
  margin: auto;
  position: relative;
  

}

.danceandshaketheframe1 {
  transform-origin: top left;
  left:0;
  top:50%;
  transform: rotate(-90deg) translateX(-50%);
  position: absolute;
}


.danceandshaketheframe2 {
  top:0;
  position: absolute;

}



.danceandshaketheframe3 {
  bottom:0;
  position: absolute;
  text-align: center;

}



.danceandshaketheframe4 {
  transform-origin:top right;
  right:0;
  top:50%;
  transform: rotate(90deg) translateX(50%);
  position: absolute;

}


.ohh {
  margin-left: 60%;
  font-size: 150px;
  font-family: Newake, sans-serif;
  margin-top: 60px;
  
}

.content6{
  margin-top: 500px;
}


.thisis {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 10vw;
  font-family: Newake, sans-serif;
  margin-top: 0;
}

.AMERICA {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 50vw;
  font-family: Newake, sans-serif;
  margin-top: 70px;
}


#scroll-container {
  /* border: 3px solid black; */
  height: 500px;
  width:135px;
  overflow: hidden;
  font-size: 60px;
  float: left;
}
#scroll-container2 {
  /* border: 3px solid black; */
  height: 500px;
  width:135px;
  /* overflow: hidden; */
  font-size: 60px;
  /* float: left; */
}

#scroll-text-down {
  height: 100%;
  text-align: center;
  
  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  
  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: animation-text-down 5s linear infinite;
}

@keyframes animation-text-down {
  from {
    -moz-transform: translateY(-300%);
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}


#scroll-text-up {
  height: 100%;
  text-align: center;
  
  /* animation properties */
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  
  -moz-animation: my-animation 5s linear infinite;
  -webkit-animation: my-animation 5s linear infinite;
  animation: animation-text-up 5s linear infinite;
}

@keyframes animation-text-up {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(-300%);
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
}





/* SHAKE ANIMATION */

.waviy {
  position: relative;
  /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2)); */
  font-size: 49px;
}
.waviy span {
  font-size: 40px;
  font-family: Newake, cursive;
  position: relative;
  display: inline-block;
  color: rgb(0, 0, 0);
  /* text-transform: uppercase; */
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}




/*  */
/* YEAH ANIMATION */


.stage {
  height: 300px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 300px/0.65 Nighty, sans-serif;
  content: "Yeah";
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  color: #9DE1DD;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px rgb(0, 0, 0);
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #000000;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: rgb(113, 255, 248);
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg);
  }
}




/* party animation */
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

.title-word-5 {
  --color-1: #DF8453;
  --color-2: #E4A9A8;
  --color-3: #3D8DAE;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container-party {
  display: grid;
  place-items: center;  
  text-align: center;

}

.title {
  font-family: Nighty, sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-shadow: -5px 10px 0px black;
  /* text-transform: uppercase; */
}